# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# System files and IDE settings folders
.DS_Store
.idea
.vscode

# Environment variables
.env

# Coverage reports (if using Jest or similar)
coverage/

# PID files
*.pid
*.seed
*.pid.lock

# Optional ESLint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# MongoDB data and logs (should not be version controlled)
data/